<a href="https://colab.research.google.com/github/Khomkrit007/Python_dataviz2024/blob/main/Data_Viz_2024_Exam_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install scipy
import pandas as pd
import os

Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (1.13.1)
Requirement already satisfied: numpy<2.3,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from scipy) (1.26.4)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path_to_folktalse ='/content/drive/MyDrive/Data_viz2024_Data/test-TidyData_2024.xlsx'

In [ ]:
folk_df = pd.read_excel(path_to_folktalse)  # Use pd.read_excel
folk_df

,month,station,rep.,Chlo_a,Chlo_b,total_Caro,Temp.,pH,EC,Salinity,TDS,DO,Nitrate,Ammonium,Phosphate,No.Algal_cell,@dropdown
0,July_2018,1,1,0.094645,0.011954,0.026780,30.2,5.54,622.7,330.3,545.2,4.37,0.172902,0.052817,0.012748,1.635833e+05,NaN
1,July_2018,2,1,0.038433,0.059019,0.021387,29.1,6.24,580.7,307.0,488.2,6.55,0.154197,0.144843,0.006086,1.166667e+06,NaN
2,July_2018,3,1,0.043884,0.089415,0.023223,29.7,5.52,547.1,289.4,462.2,5.67,0.153097,0.154321,0.014158,2.970000e+06,NaN
3,July_2018,4,1,0.039836,0.064552,0.016537,29.2,5.92,473.6,249.2,397.9,0.69,0.157026,0.387408,0.056951,5.066667e+05,NaN
4,July_2018,5,1,0.044712,0.062424,0.022990,29.5,5.79,685.5,366.0,581.2,4.46,0.204024,0.043387,0.007239,1.265000e+06,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,July_2019,2,3,0.030521,0.015358,0.018067,31.2,7.74,580.5,309.2,517.0,6.31,0.132034,0.030959,-0.000064,2.665833e+05,NaN
194,July_2019,3,3,0.024081,0.020217,0.015981,29.7,7.50,513.0,272.6,436.0,3.00,0.230116,0.059103,-0.000064,6.428333e+05,NaN
195,July_2019,4,3,0.015525,0.009612,0.009373,31.5,7.51,550.9,289.8,498.4,4.02,0.123546,0.136428,-0.000064,2.945000e+05,NaN
196,July_2019,5,3,0.015180,0.011811,0.009697,28.5,7.31,540.6,287.4,443.4,1.53,0.110028,0.056057,-0.000064,3.470833e+05,NaN
197,July_2019,6,3,0.008556,0.010605,0.005704,31.5,7.71,544.7,288.2,493.8,6.32,0.165042,0.105817,-0.000064,3.692500e+05,NaN

In [ ]:
# สร้างคอลัมน์ 'year' ใหม่โดยเก็บเฉพาะ4ตัวอักษรหลัง (ปี)
folk_df['year'] = folk_df['month'].str[-4:]

In [ ]:
# สร้างคอลัมน์ 'month' ใหม่โดยเก็บเฉพาะ4ตัวอักษรแรก (เดือน)
folk_df['month'] = folk_df['month'].str[:4]

In [ ]:
folk_df

,month,station,rep.,Chlo_a,Chlo_b,total_Caro,Temp.,pH,EC,Salinity,TDS,DO,Nitrate,Ammonium,Phosphate,No.Algal_cell,@dropdown,year
0,July,1,1,0.094645,0.011954,0.026780,30.2,5.54,622.7,330.3,545.2,4.37,0.172902,0.052817,0.012748,1.635833e+05,NaN,2018
1,July,2,1,0.038433,0.059019,0.021387,29.1,6.24,580.7,307.0,488.2,6.55,0.154197,0.144843,0.006086,1.166667e+06,NaN,2018
2,July,3,1,0.043884,0.089415,0.023223,29.7,5.52,547.1,289.4,462.2,5.67,0.153097,0.154321,0.014158,2.970000e+06,NaN,2018
3,July,4,1,0.039836,0.064552,0.016537,29.2,5.92,473.6,249.2,397.9,0.69,0.157026,0.387408,0.056951,5.066667e+05,NaN,2018
4,July,5,1,0.044712,0.062424,0.022990,29.5,5.79,685.5,366.0,581.2,4.46,0.204024,0.043387,0.007239,1.265000e+06,NaN,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,July,2,3,0.030521,0.015358,0.018067,31.2,7.74,580.5,309.2,517.0,6.31,0.132034,0.030959,-0.000064,2.665833e+05,NaN,2019
194,July,3,3,0.024081,0.020217,0.015981,29.7,7.50,513.0,272.6,436.0,3.00,0.230116,0.059103,-0.000064,6.428333e+05,NaN,2019
195,July,4,3,0.015525,0.009612,0.009373,31.5,7.51,550.9,289.8,498.4,4.02,0.123546,0.136428,-0.000064,2.945000e+05,NaN,2019
196,July,5,3,0.015180,0.011811,0.009697,28.5,7.31,540.6,287.4,443.4,1.53,0.110028,0.056057,-0.000064,3.470833e+05,NaN,2019
197,July,6,3,0.008556,0.010605,0.005704,31.5,7.71,544.7,288.2,493.8,6.32,0.165042,0.105817,-0.000064,3.692500e+05,NaN,2019

##1.ความแตกต่างของ ค่าเฉลี่ย ของข้อมูล Chlo_a ทุกๆ station ระหว่างปี 2018 และ ปี 2019

ทดสอบสมมติฐานค่าเฉลี่ย Chlo_a ระหว่างปี 2018 และ 2019

H0 (สมมติฐานหลัก): ค่าเฉลี่ย Chlo_a ระหว่างปี 2018 และ 2019 ไม่มีความแตกต่างกัน


Ha (สมมติฐานทางเลือก): ค่าเฉลี่ย Chlo_a ระหว่างปี 2018 และ 2019 มีความแตกต่างกัน

เนื่องจากเราต้องการเปรียบเทียบค่าเฉลี่ยของสองกลุ่มข้อมูลที่เป็นอิสระต่อกัน เราสามารถใช้ **t-test for independent samples** ที่ระดับนัยสำคัญ 0.05

In [ ]:


# ทำการทดสอบ t-test for independent samples
t_statistic, p_value = stats.ttest_ind(chlo_a_2018, chlo_a_2019, nan_policy='omit')
print("t-statistic:", t_statistic)
print("p-value:", p_value)

t-statistic: 18.853961223027927
p-value: 6.6255583774816475e-46

เนื่องจากค่า p-value น้อยกว่าระดับนัยสำคัญ (0.05) มาก เราจึงปฏิเสธสมมติฐานว่าง (H0) ซึ่งหมายความว่ามีความแตกต่างอย่างมีนัยสำคัญทางสถิติระหว่างค่าเฉลี่ย 'Chlo_a' ของปี 2018 และ 2019

##2.สร้างตารางค่าเฉลี่ย Chlo_b ทุกๆ station ของแต่ละเดือน

H0 (สมมติฐานหลัก): ค่าเฉลี่ย Chlo_b ของแต่ละ station ไม่แตกต่างกันระหว่างเดือนต่างๆ



Ha (สมมติฐานทางเลือก): ค่าเฉลี่ย Chlo_b ของแต่ละ station แตกต่างกันระหว่างเดือนต่างๆ อย่างน้อยหนึ่งคู่

เนื่องจากเราต้องการเปรียบเทียบค่าเฉลี่ยของกลุ่มข้อมูลมากกว่าสองกลุ่ม (เดือนต่างๆ) เราสามารถใช้ การวิเคราะห์ความแปรปรวนทางเดียว (One-way ANOVA)

In [ ]:
# ลบเครื่องหมาย "_" ออกจากคอลัมน์ month
folk_df['month'] = folk_df['month'].str.rstrip('_')

# แสดง DataFrame เพื่อตรวจสอบผลลัพธ์
print(folk_df)

    month  station  rep.    Chlo_a    Chlo_b  total_Caro  Temp.    pH     EC  \
0    July        1     1  0.094645  0.011954    0.026780   30.2  5.54  622.7
1    July        2     1  0.038433  0.059019    0.021387   29.1  6.24  580.7
2    July        3     1  0.043884  0.089415    0.023223   29.7  5.52  547.1
3    July        4     1  0.039836  0.064552    0.016537   29.2  5.92  473.6
4    July        5     1  0.044712  0.062424    0.022990   29.5  5.79  685.5
..    ...      ...   ...       ...       ...         ...    ...   ...    ...
193  July        2     3  0.030521  0.015358    0.018067   31.2  7.74  580.5
194  July        3     3  0.024081  0.020217    0.015981   29.7  7.50  513.0
195  July        4     3  0.015525  0.009612    0.009373   31.5  7.51  550.9
196  July        5     3  0.015180  0.011811    0.009697   28.5  7.31  540.6
197  July        6     3  0.008556  0.010605    0.005704   31.5  7.71  544.7

     Salinity    TDS    DO   Nitrate  Ammonium  Phosphate  No.Algal_cell  \
0       330.3  545.2  4.37  0.172902  0.052817   0.012748   1.635833e+05
1       307.0  488.2  6.55  0.154197  0.144843   0.006086   1.166667e+06
2       289.4  462.2  5.67  0.153097  0.154321   0.014158   2.970000e+06
3       249.2  397.9  0.69  0.157026  0.387408   0.056951   5.066667e+05
4       366.0  581.2  4.46  0.204024  0.043387   0.007239   1.265000e+06
..        ...    ...   ...       ...       ...        ...            ...
193     309.2  517.0  6.31  0.132034  0.030959  -0.000064   2.665833e+05
194     272.6  436.0  3.00  0.230116  0.059103  -0.000064   6.428333e+05
195     289.8  498.4  4.02  0.123546  0.136428  -0.000064   2.945000e+05
196     287.4  443.4  1.53  0.110028  0.056057  -0.000064   3.470833e+05
197     288.2  493.8  6.32  0.165042  0.105817  -0.000064   3.692500e+05

     @dropdown  year
0          NaN  2018
1          NaN  2018
2          NaN  2018
3          NaN  2018
4          NaN  2018
..         ...   ...
193        NaN  2019
194        NaN  2019
195        NaN  2019
196        NaN  2019
197        NaN  2019

[198 rows x 18 columns]

In [ ]:
# สร้างตารางค่าเฉลี่ย Chlo_b โดยจัดกลุ่มตาม station และ month
chlo_b_mean_table = folk_df.groupby(['station', 'month'])['Chlo_b'].mean().unstack()

# แสดงตาราง
print(chlo_b_mean_table)

month         Apr       Aug       Dec       Jan      July      June       May  \
station
1        0.051381  0.075665  0.070061  0.022451  0.030526  0.020548  0.015949
2        0.019378  0.065403  0.064375  0.014968  0.038211  0.013194  0.028765
3        0.030775  0.065179  0.080867  0.017722  0.045500  0.013301  0.015890
4        0.020170  0.061289  0.061951  0.012142  0.035326  0.013821  0.015559
5        0.027015  0.060107  0.070085  0.009789  0.037839  0.013880  0.016623
6        0.025655  0.063027  0.065663  0.013856  0.033133  0.008583  0.023882

month         Nov       Oct       Sep
station
1        0.075937  0.131764  0.063890
2        0.064552  0.122767  0.074578
3        0.097963  0.106404  0.076292
4        0.070605  0.090834  0.064670
5        0.063866  0.082381  0.060733
6        0.073360  0.079449  0.061750

In [ ]:
from scipy import stats

# ดึงข้อมูล Chlo_b สำหรับแต่ละเดือนจากตาราง chlo_b_mean_table
apr_data = chlo_b_mean_table['Apr'].dropna()
aug_data = chlo_b_mean_table['Aug'].dropna()
dec_data = chlo_b_mean_table['Dec'].dropna()
jan_data = chlo_b_mean_table['Jan'].dropna()
jul_data = chlo_b_mean_table['July'].dropna()
jun_data = chlo_b_mean_table['June'].dropna()
may_data = chlo_b_mean_table['May'].dropna()
nov_data = chlo_b_mean_table['Nov'].dropna()
oct_data = chlo_b_mean_table['Oct'].dropna()
sep_data = chlo_b_mean_table['Sep'].dropna()

# ทำการทดสอบ One-way ANOVA
f_statistic, p_value = stats.f_oneway(apr_data, aug_data, dec_data, jan_data, jul_data, jun_data, may_data, nov_data, oct_data, sep_data)

print("F-statistic:", f_statistic)
print("P-value:", p_value)

F-statistic: 56.25731217763895
P-value: 4.581746535879375e-23

p-value น้อยกว่าระดับนัยสำคัญทั่วไป (เช่น 0.05) อย่างมาก เราจึงปฏิเสธสมมติฐานหลัก (H0) และยอมรับสมมติฐานทางเลือก (Ha)

มีหลักฐานเพียงพอที่จะสรุปว่าค่าเฉลี่ย Chlo_b ของแต่ละ station แตกต่างกันระหว่างเดือนต่างๆ อย่างน้อยหนึ่งคู่