<a href="https://colab.research.google.com/github/Khomkrit007/Python_dataviz2024/blob/main/Function_Loop_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
inp = '12:30:15-13:41:07'
inp_list = inp.split('-')
print(inp_list)

['12:30:15', '13:41:07']

In [ ]:
name = 'ภัทรวรรธน์'
surname = 'ใจเที่ยง'
ID = '603021866-7'

b= f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print(b)

ชื่อ ภัทรวรรธน์ นามสกุล ใจเที่ยง รหัส 603021866-7

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน


backtick (`) ==> กด ~ ค้าง, alt - 9>6 (full keyboard with number)

tilde (~)

curly bracket ({ })

square bracket ([ ])

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_name(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_name('อินทระ','64xxxxxx','ธนพงศ์')

'ชื่อ ธนพงศ์ นามสกุล อินทระ รหัส 64xxxxxx'

In [ ]:
print(print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2'))

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_myname():
  print('คมกฤษณ์')

In [ ]:
print_myname()

คมกฤษณ์

In [ ]:
def print_name(surname,ID,name):
  st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  return st

In [ ]:
print_name(name='คมกฤษณ์', surname='เลาสูงเนิน', ID='653020601-3')

'ชื่อ คมกฤษณ์ นามสกุล เลาสูงเนิน รหัส 653020601-3'

### ข้อแตกต่างที่มี output และไม่มี output

In [ ]:
out_print = print_name(name='คมกฤษณ์', surname='เลาสูงเนิน', ID='653020601-3') #มี output
print(out_print)

ชื่อ คมกฤษณ์ นามสกุล เลาสูงเนิน รหัส 653020601-3

In [ ]:
out_print1 = print_name(name='คมกฤษณ์', surname='เลาสูงเนิน', ID='653020601-3') #ไม่มี output
print(out_print1)

ชื่อ คมกฤษณ์ นามสกุล เลาสูงเนิน รหัส 653020601-3

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','B')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> B

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย') # errorเพราะใส่ไม่ครบ 3 ตัว

TypeError: print_2lines_default() missing 1 required positional argument: 'ID'

In [ ]:
# Quiz เขียนfuntion ที่รับ input 1ตัว ตาม format hh1:mm1:ss1 - hh2:mm2:ss2 และคำนวณหา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่าง time1 และ time2 โดยยังไม่ต้องสนใจว่า time 2 สามารถข้ามไปอีกวันได้

In [ ]:
def cal_dif_drcd(timeinput):
  timelist = timeinput.split('-')
  time1 = timelist[0].split(':')
  time2 = timelist[1].split(':')
  time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
  time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
  dif_sec = time2_sec - time1_sec
  return dif_sec

In [ ]:
cal_dif_drcd('12:30:15-13:41:07')

4252

In [ ]:
#   Quiz3.5 รับ input 2 ตัว โดยตั้งค่า defauit1 เป็น 00:00:00

In [ ]:
def calculate_time_difference(time1, time2='00:00:00'):


    def time_to_seconds(time_string):
        split_time = time_string.split(':')
        return int(split_time[0])*3600 + int(split_time[1])*60 + int(split_time[2])

    time1_seconds = time_to_seconds(time1)
    time2_seconds = time_to_seconds(time2)

    return time2_seconds - time1_seconds

time1 = '12:30:15'
time2 = '13:41:07'
difference = calculate_time_difference(time1, time2)
print(f"ระหว่างเวลาทั้งสองตัวนั้น {time1} และ {time2} is {difference} seconds.")

difference_from_midnight = calculate_time_difference(time1)  # Using default for time2
print(f"ระหว่างเวลาทั้งสองตัวนั้น {time1} และได้เวลาเท่ากับ {difference_from_midnight} seconds.")

ระหว่างเวลาทั้งสองตัวนั้น 12:30:15 และ 13:41:07 is 4252 seconds.
ระหว่างเวลาทั้งสองตัวนั้น 12:30:15 และได้เวลาเท่ากับ -45015 seconds.

# HW2
###วนลูป หา ช่วงเวลาเป็นวินาทีที่ห่างกันระหว่าง time1 และ time2 ต่อไปนี้
1.18:09:10 - 18:25:10

2.13:38:39 - 23:54:39

3.16:49:58 - 18:05:58

4.21:49:10 - 22:24:10

5.08:52:21 - 09:25:21

6.06:56:26 - 07:49:26

7.12:08:05 - 12:43:05

8.01:48:38 - 07:18:38

9.08:51:21 - 10:17:21

10.17:05:17 - 18:09:17

In [1]:
time ='18:09:10 - 18:25:10,13:38:39 - 23:54:39,16:49:58 - 18:05:58,21:49:10 - 22:24:10,08:52:21 - 09:25:21,06:56:26 - 07:49:26,12:08:05 - 12:43:05,01:48:38 - 07:18:38,08:51:21 - 10:17:21,17:05:17 - 18:09:17' # Change the list to a string
timelist = time.split(',') # Now can split the string
print(timelist)

['18:09:10 - 18:25:10', '13:38:39 - 23:54:39', '16:49:58 - 18:05:58', '21:49:10 - 22:24:10', '08:52:21 - 09:25:21', '06:56:26 - 07:49:26', '12:08:05 - 12:43:05', '01:48:38 - 07:18:38', '08:51:21 - 10:17:21', '17:05:17 - 18:09:17']

In [ ]:
for time_range in timelist:
    start_time, end_time = time_range.split(' - ')

    split_start = start_time.split(':')
    start_seconds = int(split_start[0])*3600 + int(split_start[1])*60 + int(split_start[2])

    split_end = end_time.split(':')
    end_seconds = int(split_end[0])*3600 + int(split_end[1])*60 + int(split_end[2])

    difference = end_seconds - start_seconds
    print(f"Difference between {start_time} and {end_time} is {difference} seconds")

Difference between 18:09:10 and 18:25:10 is 960 seconds
Difference between 13:38:39 and 23:54:39 is 36960 seconds
Difference between 16:49:58 and 18:05:58 is 4560 seconds
Difference between 21:49:10 and 22:24:10 is 2100 seconds
Difference between 08:52:21 and 09:25:21 is 1980 seconds
Difference between 06:56:26 and 07:49:26 is 3180 seconds
Difference between 12:08:05 and 12:43:05 is 2100 seconds
Difference between 01:48:38 and 07:18:38 is 19800 seconds
Difference between 08:51:21 and 10:17:21 is 5160 seconds
Difference between 17:05:17 and 18:09:17 is 3840 seconds

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [2]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

# จบวันที่ 7 มค 2564

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = ',') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / ,h -> / ,a -> / ,n -> / ,a -> / ,p -> / ,o -> / ,n -> / ,g -> / ,

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print(name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
2  x  11  =  22
2  x  12  =  24
the inner loop is end
now name1 = 3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
3  x  11  =  33
3  x  12  =  36
the inner loop is end
now name1 = 4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
4  x  11  =  44
4  x  12  =  48
the inner loop is end

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['พี่บูม','ดายน์','แตงโม','ฝน','พี่เจ็ท','น้องแคมป์']

In [ ]:
print_feelings('เจมส์',list_friends)

เจมส์ คิดถึง พี่บูม
เจมส์ คิดถึง ดายน์
เจมส์ คิดถึง แตงโม
เจมส์ คิดถึง ฝน
เจมส์ คิดถึง พี่เจ็ท
เจมส์ คิดถึง น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

จบ 24 ม.ย 67

## Dictionary (Data Syructure)
ทำการวนลูบในค่า dict โดยที่เรากำหนดตัว key และ value ขึ้นมา ได้ดังนี้
โครงสร้างที่ใช้เป็นวงเล็บ {} Curly Brackets

In [20]:
Ex_dict_A = {'membarA': ['1', '2', '3'], 'memberB': 8, 'memberC': 'abc'}
Ex_dict_A

{'membarA': ['1', '2', '3'], 'memberB': 8, 'memberC': 'abc'}

In [21]:
Ex_dict_A

{'membarA': ['1', '2', '3'], 'memberB': 8, 'memberC': 'abc'}

In [22]:
Ex_dict_A  ['membarA']

['1', '2', '3']

In [25]:
Ex_dict_A  ['membarA'] [0] #การเรียกใช้ตัวลำดับ 0,1,2,3

'1'

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [26]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [27]:
name_grade['ปนัดดา']

'A'

In [36]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [31]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [32]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [33]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

### conditional statement คือ เงื่อนไข /ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อง Boolean(true,False)

In [39]:
condition_1 = True
condition_2 = False

In [ ]:
time ='18:09:10 - 18:25:10,13:38:39 - 23:54:39,16:49:58 - 18:05:58,21:49:10 - 22:24:10,08:52:21 - 09:25:21,06:56:26 - 07:49:26,12:08:05 - 12:43:05,01:48:38 - 07:18:38,08:51:21 - 10:17:21,17:05:17 - 18:09:17' # Change the list to a string
timelist = time.split(',') # Now can split the string
print(timelist)

['18:09:10 - 18:25:10', '13:38:39 - 23:54:39', '16:49:58 - 18:05:58', '21:49:10 - 22:24:10', '08:52:21 - 09:25:21', '06:56:26 - 07:49:26', '12:08:05 - 12:43:05', '01:48:38 - 07:18:38', '08:51:21 - 10:17:21', '17:05:17 - 18:09:17']

In [50]:
for time_range in timelist:
    start_time, end_time = time_range.split(' - ')

    split_start = start_time.split(':')
    start_seconds = int(split_start[0])*3600 + int(split_start[1])*60 + int(split_start[2])

    split_end = end_time.split(':')
    end_seconds = int(split_end[0])*3600 + int(split_end[1])*60 + int(split_end[2])

    difference = end_seconds - start_seconds
    print(f"Difference between {start_time} and {end_time} is {difference} seconds")

Difference between 18:09:10 and 18:25:10 is 960 seconds
Difference between 13:38:39 and 23:54:39 is 36960 seconds
Difference between 16:49:58 and 18:05:58 is 4560 seconds
Difference between 21:49:10 and 22:24:10 is 2100 seconds
Difference between 08:52:21 and 09:25:21 is 1980 seconds
Difference between 06:56:26 and 07:49:26 is 3180 seconds
Difference between 12:08:05 and 12:43:05 is 2100 seconds
Difference between 01:48:38 and 07:18:38 is 19800 seconds
Difference between 08:51:21 and 10:17:21 is 5160 seconds
Difference between 17:05:17 and 18:09:17 is 3840 seconds

In [72]:
time_list = ['18:09:10 - 18:25:10,13:38:39 - 23:54:39,16:49:58 - 18:05:58,21:49:10 - 22:24:10,08:52:21 - 09:25:21,06:56:26 - 07:49:26,12:08:05 - 12:43:05,01:48:38 - 07:18:38,08:51:21 - 10:17:21,17:05:17 - 18:09:17']

In [69]:
def time_to_seconds(time1):
  time_list = time1.split(':')
  time_sec = int(time_list[0])*3600 + int(time_list[1])*60 + int(time_list[2])
  return time_sec

In [71]:
for time1,time2 in time_list:
#ถ้า time 1 น้อยกว่า time2
  if time_to_seconds(time1) < time_to_seconds(time2):
    diff_sec = time_to_seconds(time2) - time_to_seconds(time1)
  else:
    diff_sec = time_to_seconds(time2)+24*3600 - time_to_seconds(time1)
  print(f"ระหว่างเวลาทั้งสองตัวนั้น {time1} และ {time2} is {diff_sec} seconds.")

ValueError: too many values to unpack (expected 2)

In [74]:
time_list = ['18:09:10 - 18:25:10,13:38:39 - 23:54:39,16:49:58 - 18:05:58,21:49:10 - 22:24:10,08:52:21 - 09:25:21,06:56:26 - 07:49:26,12:08:05 - 12:43:05,01:48:38 - 07:18:38,08:51:21 - 10:17:21,17:05:17 - 18:09:17']

# Split the string in time_list into individual time ranges
time_ranges = time_list[0].split(',')

for time_range in time_ranges:
    time1, time2 = time_range.split(' - ')  # Now you can unpack correctly

    #ถ้า time 1 น้อยกว่า time2
    if time_to_seconds(time1) < time_to_seconds(time2):
        diff_sec = time_to_seconds(time2) - time_to_seconds(time1)
    else:
        diff_sec = time_to_seconds(time2)+24*3600 - time_to_seconds(time1)
    print(f"ระหว่างเวลาทั้งสองตัวนั้น {time1} และ {time2} is {diff_sec} seconds.")

ระหว่างเวลาทั้งสองตัวนั้น 18:09:10 และ 18:25:10 is 960 seconds.
ระหว่างเวลาทั้งสองตัวนั้น 13:38:39 และ 23:54:39 is 36960 seconds.
ระหว่างเวลาทั้งสองตัวนั้น 16:49:58 และ 18:05:58 is 4560 seconds.
ระหว่างเวลาทั้งสองตัวนั้น 21:49:10 และ 22:24:10 is 2100 seconds.
ระหว่างเวลาทั้งสองตัวนั้น 08:52:21 และ 09:25:21 is 1980 seconds.
ระหว่างเวลาทั้งสองตัวนั้น 06:56:26 และ 07:49:26 is 3180 seconds.
ระหว่างเวลาทั้งสองตัวนั้น 12:08:05 และ 12:43:05 is 2100 seconds.
ระหว่างเวลาทั้งสองตัวนั้น 01:48:38 และ 07:18:38 is 19800 seconds.
ระหว่างเวลาทั้งสองตัวนั้น 08:51:21 และ 10:17:21 is 5160 seconds.
ระหว่างเวลาทั้งสองตัวนั้น 17:05:17 และ 18:09:17 is 3840 seconds.

##HW3 เพิ่มฟังก์ชั่นแปลงวินาทีกลับมาเป็นชั่วโมง นาที วินาที โดยไม่ใช้ฟังก์ชั้นช้วยเหลืออื่นๆ ของ python(import) ่วนของชั่วโมง วินาที เป็น 0 ไม่ต้องแสดง

##### True / False
##### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

In [37]:
print(list_friends)

NameError: name 'list_friends' is not defined

In [38]:
for name1 in list_friends :
    for name2 in list_friends :
            print(name1,'รัก',name2)

NameError: name 'list_friends' is not defined

In [ ]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 != name2: #ไม่ปริ้นชื่อคนเดียวกันซ้ำ
            print(name1,'รัก',name2)

พี่บูม รัก ดายน์
พี่บูม รัก แตงโม
พี่บูม รัก ฝน
พี่บูม รัก พี่เจ็ท
พี่บูม รัก น้องแคมป์
ดายน์ รัก พี่บูม
ดายน์ รัก แตงโม
ดายน์ รัก ฝน
ดายน์ รัก พี่เจ็ท
ดายน์ รัก น้องแคมป์
แตงโม รัก พี่บูม
แตงโม รัก ดายน์
แตงโม รัก ฝน
แตงโม รัก พี่เจ็ท
แตงโม รัก น้องแคมป์
ฝน รัก พี่บูม
ฝน รัก ดายน์
ฝน รัก แตงโม
ฝน รัก พี่เจ็ท
ฝน รัก น้องแคมป์
พี่เจ็ท รัก พี่บูม
พี่เจ็ท รัก ดายน์
พี่เจ็ท รัก แตงโม
พี่เจ็ท รัก ฝน
พี่เจ็ท รัก น้องแคมป์
น้องแคมป์ รัก พี่บูม
น้องแคมป์ รัก ดายน์
น้องแคมป์ รัก แตงโม
น้องแคมป์ รัก ฝน
น้องแคมป์ รัก พี่เจ็ท

In [ ]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 == name2: #ปริ้นชื่อคนเดียวกันซ้ำ
            print(name1,'รัก',name2)

พี่บูม รัก พี่บูม
ดายน์ รัก ดายน์
แตงโม รัก แตงโม
ฝน รัก ฝน
พี่เจ็ท รัก พี่เจ็ท
น้องแคมป์ รัก น้องแคมป์

In [ ]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 == name2:
            'do nothing'
        else:
            print(name1,'รัก',name2)

พี่บูม รัก ดายน์
พี่บูม รัก แตงโม
พี่บูม รัก ฝน
พี่บูม รัก พี่เจ็ท
พี่บูม รัก น้องแคมป์
ดายน์ รัก พี่บูม
ดายน์ รัก แตงโม
ดายน์ รัก ฝน
ดายน์ รัก พี่เจ็ท
ดายน์ รัก น้องแคมป์
แตงโม รัก พี่บูม
แตงโม รัก ดายน์
แตงโม รัก ฝน
แตงโม รัก พี่เจ็ท
แตงโม รัก น้องแคมป์
ฝน รัก พี่บูม
ฝน รัก ดายน์
ฝน รัก แตงโม
ฝน รัก พี่เจ็ท
ฝน รัก น้องแคมป์
พี่เจ็ท รัก พี่บูม
พี่เจ็ท รัก ดายน์
พี่เจ็ท รัก แตงโม
พี่เจ็ท รัก ฝน
พี่เจ็ท รัก น้องแคมป์
น้องแคมป์ รัก พี่บูม
น้องแคมป์ รัก ดายน์
น้องแคมป์ รัก แตงโม
น้องแคมป์ รัก ฝน
น้องแคมป์ รัก พี่เจ็ท

#### ==, !=,>=,<=,<,>

In [ ]:
'พี่บูม' == 'พี่เจ็ท'

False

In [ ]:
'พี่บูม' != 'พี่เจ็ท'

True

#### หากหลังเงื่อนไข True ถูกต้องจะทำการ print ข้อความออกมาว่า Yes

In [ ]:
if True:
    print('Yes')

Yes

In [ ]:
if False:
    print('No')

#### หากหลังเงื่อนไข False ไม่ถูกต้องจะไม่ปริ้นข้อความใดๆออกมา
#### ซึ่งจะต้องใช้เงื่อนไขนี้ จึงจะได้ปริ้นค่าเงื่อนไขนั้นออกมา ดังนี้

In [ ]:
if False:
    print('Yes')
else:
    print('No')

No

# HW4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

In [97]:
input_list = [1,50,65,90,101,-5,49]
for num in input_list: # Iterate over each number in the list
  if num >= 0 and num <= 50:
    print(num, ': F') # Print the number and its corresponding grade
  elif num >= 50 and num <= 55:
    print(num, ': D')
  elif num >= 55 and num <= 60:
    print(num, ': D+')
  elif num >= 60 and num <= 65:
    print(num, ': C')
  elif 65 <= num <= 70:
    print(num, ': C+')
  elif 70 < num <= 75:
    print(num, ': B')
  elif 75 < num <= 80:
    print(num, ': B+')
  elif num >= 80 and num <= 100:
    print(num, ': A')
  elif num < 0 or num > 100:
    print(num, ': คะแนนไม่ถูกต้อง') # แสดงข้อความเมื่อคะแนนไม่อยู่ในช่วง

1 : F
50 : F
65 : C
90 : A
101 : คะแนนไม่ถูกต้อง
-5 : คะแนนไม่ถูกต้อง
49 : F

##&,|,in.is:Operator อื่นๆ

In [94]:
if (1>0) & (0>-1):
  print(True & False)

False

In [95]:
if 'T' in 'Thanapong':
  print('T in Thanapong')

T in Thanapong

In [107]:
def return_nothing(x):
 x = x+1

In [112]:
 a = return_nothing

In [115]:
if a (5) is None:
  print('x is Null')

x is Null

# Finish